---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Skills from '../components/Skills.astro'
import About from '../components/About.astro'
---

<Layout title=">_">
	<Nav/>
	<main class="text-white mt-60 container">
		<h1 class="text-center text-7xl font-quenda">Welcome</h1>
		<div class="flex mt-12 justify-around gap-5 mx-1">
			<Skills/>
			<About/>
		</div>
	</main>
</Layout>
