---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Skills from '../components/Skills.astro'
import About from '../components/About.astro'
import Projects from '../components/Projects.astro'
---

<Layout title=">_">
	<Nav/>
	<main class="text-white mt-32 lg:mb-3">
		<h1 class="text-center text-7xl font-quenda">Welcome</h1>
		<div class="lg:flex lg:gap-3 lg:justify-around mt-20">
			<div class="lg:w-1/3">
				<Skills/>
			</div>
			<div class="lg:w-2/3">
				<About/>
				<Projects/>
			</div>
		</div>
	</main>
</Layout>
