---

---

<div class="max-lg:my-5">
    <h1 class="text-4xl text-center font-quenda">About</h1>
    <div class="justify-items-center p-3 bg-gray-700 rounded-2xl text-center">
        <p>Hi <i class="fa-solid fa-hand-wave text-yellow-500"></i> , I'm Mateusz Czarnecki (DemwE)</p>
        <p class="p-1">I <i class="fa-sharp fa-solid fa-heart text-red-600"></i> Open source</p>
        <p class="text-lg my-4 text-justify p-2 bg-slate-800 rounded-lg">
            I am passionate about crafting elegant and effective solutions, finding joy in creating something visually stunning and operationally efficient. My enthusiasm for innovation drives me to explore and embrace emerging technologies continually.
        </p>
        <p class="inline-flex">
            <a href="https://www.buymeacoffee.com/demwe" aria-label="Buy me a coffee">
                <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" height="50" width="210" alt="Buy me a coffee" />
            </a>
        </p>
    </div>
</div>