---

---

<div class="max-w-lg">
    <h1 class="text-4xl text-center font-quenda">About</h1>
    <div class="justify-items-center p-3 bg-gray-700 rounded-2xl text-center">
        <p>Hi <i class="fa-solid fa-hand-wave text-yellow-500"></i> , I'm Mateusz Czarnecki (Demwe)</p>
        <p class="p-1">I <i class="fa-sharp fa-solid fa-heart text-red-600"></i> Open source</p>
        <p class="text-lg mt-4 text-justify p-2">
            I love crafting beautiful and efficient solutions, and I am constantly exploring new technologies to expand my knowledge.
        </p>
        <br>
        <p class="inline-flex"><a href="https://www.buymeacoffee.com/demwe"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" height="50" width="210" alt="demwe" /></a></p>
    </div>
</div>