---
import { execSync } from 'child_process';
const build = execSync('git rev-parse HEAD').toString().trim();

const currentYear = new Date().getFullYear();
---

<div class="bg-slate-800 text-center md:justify-between md:flex rounded-t-lg  mx-auto px-5 text-white p-1">
    <p class="p-1">&copy; {currentYear} DemwE</p>
    <div class="sm:flex justify-center">
        <p class="p-1">Current build: </p>
        <p class="p-1 overflow-auto">{build}</p>
    </div>
</div>