---
import { Image } from 'astro:assets';
import logo from '../images/logo.png';
---

<div class="bg-slate-800 rounded-b-lg flex flex-nowrap justify-between container mx-auto px-5 text-white">
    <div class="my-auto">
        <h1 class="text-3xl font-bold">DemwE</h1>
    </div>
    <div class="flex">
        <div class="my-auto">
            <a href="https://github.com/DemwE" target="_blank">
                <div class="rounded-full bg-white p-1 w-12 h-12 align-middle text-center leading-10 text-slate-800">
                    <i class="fa-brands fa-github fa-2xl"></i>
                </div>
            </a>
        </div>
        <div class="my-auto">
            <a href="/">
                <Image class="h-16 w-16 p-2" src={logo} alt="Logo" format="avif"/>
            </a>
        </div>
    </div>
</div>