---
import { Image } from 'astro:assets';
interface Props {
    image: string;
    name: string;
}

const { image } = Astro.props
const { name } = Astro.props
---

<div class="flex bg-gray-800 rounded-2xl w-full">
    <Image class="w-40 h-40 bg-gray-900 rounded-2xl p-2" src={image} alt="Tailwind CSS Logo" format="webp"/>
    <div class="p-4 w-full">
        <h2 class="text-xl">{name}</h2>
        <div class="pt-6">
            <p>Skill level</p>
            <div class="w-full rounded-full bg-gray-900">
                <slot/>
            </div>
        </div>
    </div>
</div>