---

---

<!--suppress ALL -->
<div class="grid grid-cols-1">
    <img class="w-40 h-40" src="/icons/tailwind-css.svg"/>
    <img class="w-40 h-40" src="/icons/linux.svg"/>
    <img class="w-40 h-40" src="/icons/rust.svg"/>
    <img class="w-40 h-40" src="/icons/javascript.svg"/>
    <img class="w-40 h-40" src="/icons/astro-js.svg"/>
    <img class="w-40 h-40" src="/icons/html.svg"/>
    <img class="w-40 h-40" src="/icons/css.svg"/>
</div>