---

---

<div>
    <h1 class="text-4xl text-center font-quenda">Skills</h1>
    <div class="grid grid-cols-2 gap-3 justify-items-center p-3 bg-gray-700 rounded-2xl">
        <img class="w-40 h-40" src="/icons/tailwind-css.svg" alt="Tailwind CSS Logo"/>
        <img class="w-40 h-40" src="/icons/linux.svg" alt="Linux Logo"/>
        <img class="w-40 h-40" src="/icons/rust.svg" alt="Rust Logo"/>
        <img class="w-40 h-40" src="/icons/javascript.svg" alt="JavaScript Logo"/>
        <img class="w-40 h-40" src="/icons/astro-js.svg" alt="Astro JS Logo"/>
        <img class="w-40 h-40" src="/icons/html.svg" alt="HTML Logo"/>
        <img class="w-40 h-40" src="/icons/css.svg" alt="CSS Logo"/>
        <img class="w-40 h-40" src="/icons/git.svg" alt="Git Logo"/>
    </div>
</div>