---
interface Props {
    command: string;
    output: string[];
}

const { command } = Astro.props
const { output } = Astro.props
---

<div class="w-full h-full bg-gray-900 rounded-2xl p-2 px-4">
    <p>
        <span class="text-blue-300">~></span>
        <span class="text-white">{ command }</span>
    </p>
    {output.map(line => (
            <p class="text-white">
                { line }
            </p>
    ))}
</div>