---
import '../main.css'
import '../icons.css'
import GoogleAnalytics from '../components/Google-Analytics.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Welcome to my site" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<link rel="stylesheet" href="/font-awesome.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Open Graph -->
		<meta content="DemwE" property="og:title">
		<meta content="Welcome to my site" property="og:description">
		<meta content="Portfolio" property="og:site_name">
		<meta content="/logo.png" property="og:image"/>
		<!-- Google Analytics -->
		<GoogleAnalytics/>
	</head>
	<body class="bg-blue-600 justify-center min-w-[300px] sm:mx-[5%]">
		<slot />
	</body>
</html>
